<%= div_for comment do %>
  <span class="comment_info">
    <span class="blue"><%= comment.user.username %></span>
    said on <%= comment.timestamp %> (<%= distance_of_time_in_words_to_now(comment.created_at) %> ago)
  </span>
  <% if current_user && (current_user.has_role?(:admin) || current_user == comment.user) %>
    <span class="right controls">
      <%= link_to 'Delete', comment, :method => :delete, :remote => true, :confirm => 'Are you sure?', :class => 'delete' %>
    </span>
  <% end %>

  <div class="comment_body">
    <%= comment.body %>
  </div>
<% end %>
