<% if current_user %>
  <div class="date">
    <%= image_tag avatar_url(current_user) %>
  </div>
  <div class="else">
    <div id="comment_form">
      <span>Write something...</span>
      <%= form_tag comments_path do %>
        <div class="field">
          <%= text_area_tag 'comment[body]' %>
        </div>
        <div class="actions">
          <%= submit_tag 'Post', :class => 'comment_submit' %>
        </div>
        <%= hidden_field_tag 'comment[post_id]', @post.id %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="date">&nbsp;</div>
  <div id="comment_form" class="else center">
    <%= link_to 'Sign up', signup_path %> or <%= link_to 'log in', login_path %> to drop a comment.
  </div>
<% end %>
