<h1>Details for <%= @user.username %></h1>

<p>Email: <%= @user.email %></p>
<p>Member since: <%= @user.created_at %></p>

<% if current_user.has_role?(:god) %>
  <hr/>
  <h3>Roles</h3>
  <ul id="roles">
    <% @user.roles.each do |role| %>
      <li><%= role.title %></li>
    <% end %>
  </ul>

  <%= form_tag attach_path(@user), :remote => true do %>
    <div class="field">
      <%= select_tag :roles_select, options_for_select(@roles, @selected_roles), :multiple => true, :class => 'chosen' %>
    </div>
    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
<% end %>

