<h1>Details for <%= @user.username %></h1>

<p>Email: <%= @user.email %></p>
<p>Member since: <%= @user.created_at %></p>

<% if current_user.has_role?(:god) %>
  <hr/>
  <h3>Roles</h3>
  <ul>
    <% @user.roles.each do |role| %>
      <li><%= role.title %></li>
    <% end %>
  </ul>

  <%= form_tag attach_path(@user), :remote => true do %>
    <div class="field">
      <%= select_tag :roles, options_for_select(Role.all.collect { |r| [r.title, r.id] }), :multiple => true, :class => 'chosen' %>
    </div>
    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
<% end %>

