<h1>Details for <%= @user.username %></h1>

<p>Email: <%= @user.email %></p>
<p>Member since: <%= @user.created_at %></p>

<% if current_user && current_user.has_role?(:god) %>
  <hr/>
  <h3>Roles</h3>
  <ul id="roles">
    <% @user.roles.each do |role| %>
      <li><%= role.title %></li>
    <% end %>
  </ul>

  <%= form_tag attach_path(@user), :remote => true do %>
    <% @roles.each do |role| %>
      <div class="field">
        <%= check_box_tag 'roles[]', role[1], @user.has_role?(role[0]) %>
        <%= label_tag role[0] %>
      </div>
    <% end %>
    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
<% end %>

