<%= render @post %>

<section>
  <div id="comments" class="comments">
    <h2><span id="comments_count"><%= pluralize @post.comments.count, 'comment' %></span></h2>
    <% @post.comments.each do |comment| %>
      <%= div_for comment do %>
        <div class="date">
          <%= image_tag avatar_url(comment.user) %>
        </div>
        <div class="else">
          <%= render comment %>
        </div>
        <div class="clear"></div>
      <% end %>
    <% end %>

    <%= render :partial => 'comments/form' %>
  </div>
</section>
