<section id="<%= dom_id @post %>">
  <div class="date">
    <div class="month">
      <%= @post.month %>
    </div>
    <div class="day">
      <%= @post.day %>
    </div>
  </div>

  <div class="else">
    <header>
      <span><%= link_to @post.title, @post %></span>
      <span class="right">
        <i class="icon-comment"></i>
        <span class="comments-count"><%= @post.comments.count %></span>
      </span>
    </header>
    <div class="fade-arrow"></div>
    <article>
      <%= markdown @post.content %>
    </article>
    <div class="clear"></div>
    <div class="comments">
      <h2><%= @post.comments.count %> comments</h2>
      <% @post.comments.each do |comment| %>
        <%= div_for comment do %>
          <%= comment.user.username %>: <%= comment.body %>
        <% end %>
      <% end %>

      <% if current_user %>
        <div id="comment_form">
          <span>Write something...</span>
          <%= form_tag comments_path do %>
            <div class="field">
              <%= text_area_tag 'comment[body]' %>
            </div>
            <div class="actions">
              <%= submit_tag %>
            </div>
            <%= hidden_field_tag 'comment[post_id]', @post.id %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
