<section id="<%= dom_id @post %>">
  <div class="date">
    <div class="month">
      <%= @post.month %>
    </div>
    <div class="day">
      <%= @post.day %>
    </div>
  </div>

  <div class="else">
    <header>
      <span><%= link_to @post.title, @post %></span>
      <span class="right">
        <i class="icon-comment"></i>
        <span class="comments-count"><%= @post.comments.count %></span>
      </span>
    </header>
    <div class="fade-arrow"></div>
    <article>
      <%= markdown @post.content %>
    </article>
    <div class="clear"></div>
    <div class="comments">
      <h2><span id="comments_count"><%= pluralize @post.comments.count, 'comment' %></span></h2>
      <% @post.comments.each do |comment| %>
        <%= render comment %>
      <% end %>

      <% if current_user %>
        <%= render 'comments/form' %>
      <% end %>
    </div>
  </div>
</section>
