<section id="<%= dom_id @post %>" class="post">
  <div class="date">
    <div class="month">
      <%= @post.month %>
    </div>
    <div class="day">
      <%= @post.day %>
    </div>

    <% if current_user && (current_user.has_role?(:admin) || current_user == @post.user) %>
      <div id="controls">
        <%= link_to 'Edit', edit_post_path(@post) %><br />
        <%= link_to 'Delete', @post, :method => :delete, :confirm => 'Are you sure?' %>
      </div>
    <% end %>
  </div>

  <div class="else">
    <header>
      <span><%= link_to @post.title, @post %></span>
      <span class="right">
        <i class="icon-comment"></i>
        <span class="comments-count"><%= @post.comments.count %></span>
      </span>
    </header>
    <div class="fade-arrow"></div>
    <article>
      <%= markdown @post.content %>
    </article>
    <div class="clear"></div>

    <% if !@post.public %>
      <div class="important">
        <p>
          <b>NOTE:</b> This post is private, click
          <%= link_to 'here', publicize_post_path(@post), :remote => true, :method => 'post' %>
          to make it public.
        </p>
      </div>
    <% end %>
  </div>

  <div class="clear"></div>

  <div id="comments" class="comments">
    <h2><span id="comments_count"><%= pluralize @post.comments.count, 'comment' %></span></h2>
    <% @post.comments.each do |comment| %>
      <%= div_for comment do %>
        <div class="date">
          <%= image_tag avatar_url(comment.user) %>
        </div>
        <div class="else">
          <%= render comment %>
        </div>
        <div class="clear"></div>
      <% end %>
    <% end %>

    <div class="date">&nbsp;</div>
    <div class="else">
      <% if current_user %>
        <%= render 'comments/form' %>
      <% else %>
        <div class="center">
          <%= link_to 'Sign up', signup_path %> or <%= link_to 'log in', login_path %> to drop a comment.
        </div>
      <% end %>
    </div>
  </div>
</section>
